.dropdown {
  user-select: none;
  position: relative;
}

.dropdown .dropdownBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  height: 29px;
  width: 90px;
  border-radius: 10px;
  background: #FFFFFF;
}

.dropdown .dropdownContent {
  margin-top: 5px;
  padding: 10px 6px 0 6px;
  font-weight: 500;
  color: #333;
  position: absolute;
  width: 98px;
  height: 109px;

  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;

}

.dropdown .dropdownContent .dropdownItem {
  margin: 0 2px 10px;
  cursor: pointer;
  height: 28px;
  width: 84px;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: start;
  padding-left: 10px;
}

.dropdown .dropdownContent .dropdownItem:hover {
  color: #FFFFFF;
  background: #585292;
}