.dropdown {
  user-select: none;
  position: relative;
  padding-right: 40px;
}

.dropdown .dropdownBtn {
  display: flex;
  align-items: center;
  cursor: pointer;

  position: absolute;
  left: 10%;
  right: 10%;
  top: 40%;
  bottom: 40%;
  color: #9796A8;
}

.dropdown .dropdownContent {
  top: 110%;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%;
  position: absolute;
  width: 111px;
  height: 81px;

  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
  margin-top: 12px;
  left: -100px;
}

.dropdown .dropdownContent .dropdownItem {
  padding: 10px;
  text-align: start;
  cursor: pointer;
}

/* .dropdown .dropdownContent .dropdownItem:hover {
  color: #FFFFFF;
  background: #BCBCBC;
} */

.delete {
  color: #E07C7C;
}